body

{

    margin:0;

    font-family:;

}



#wrapper

{

  width: 100%;

  margin-left: auto;

  margin-right: auto;

}



header

{

  height: 150px;

  width:100%;

  background-color:#4A4A58;

  font-size: 80px;

}



nav

{

  height:50px;

  width:100%;

  background-color:#4A4A58;

}



main

{

  height: 450px;

  width:75%;

  background-color:#4A4A58;

}



aside

{

  height:450px;

  width:25%;

  background-color:#4A4A58;

}



footer

{

  height:100px;

  width:100%;

  background-color:#4A4A58;

}



#container

{



  display:flex;



}



a {

  color:black;

  text-decoration: underline;

  text-decoration-color:black;

  font-size: 40px;

  font-family:fantasy;

}
