/* body

{

    margin:0;

    font-family:;

}



#wrapper

{

  width: 100%;

  margin-left: auto;

  margin-right: auto;

}



header

{

  height: 130px;

  width:100%;

  background-color:#CBAFE1;

  font-size: 70px;

}



nav

{

  height:50px;

  width:100%;

  background-color:#CBAFE1;

}



main

{

  height: 450px;

  width:75%;

  background-color:#CBAFE1;

}



aside

{

  height:450px;

  width:25%;

  background-color:#CBAFE1;

}



footer

{

  height:100px;

  width:100%;

  background-color:#CBAFE1;

}



#container

{



  display:flex;



}



a {

  color:#DF0CB9;

  text-decoration: underline;

  text-decoration-color:#DF0CB9;

  font-size: 30px;

  font-family:fantasy;

} */
